<h1>New Seasonpass</h1>

<%= form_for(@seasonpass) do |f| %>
  <%= f.label :club_id, "Club" %>
  <%= f.select :club_id, Club.all.collect { |c| [ c.name, c.id ] }, class: 'form-control' %>

  <%= f.submit "Add seasonpass", class: "btn btn-primary" %>
<% end %>

<%= link_to 'Back', seasonpasses_path %>
