<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @seasonpass.user.full_name %>
</p>

<p>
  <strong>Club:</strong>
  <%= @seasonpass.club.name %>
</p>

<%= link_to 'Edit', edit_seasonpass_path(@seasonpass) %> |
<%= link_to 'Back', seasonpasses_path %>
