<p id="notice"><%= notice %></p>

<p>
  <strong>Home club:</strong>
  <%= @game.home_club %>
</p>

<p>
  <strong>Away club:</strong>
  <%= @game.away_club %>
</p>

<p>
  <strong>Date:</strong>
  <%= @game.date %>
</p>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
