<h1>Adverts</h1>

<%= form_tag(adverts_path, method: 'get', role: 'form') do %>
  <div class="row">
    <div class="col-sm-12 col-md-8">
      <div class="form-group row">
        <%= label_tag(:sport_id, 'Sport', class: 'col-2') %>
        <div class="col-10">
            <%= select_tag :sport_id, Sport.all.collect { |s| [ s.name, s.id ] }, class: 'form-control' %>
        </div>
      </div>

      <div class="form-group row">
        <%= label_tag(:club_id, 'Club', class: 'col-2') %>
        <div class="col-10">
            <%= select_tag :club_id, Club.all.collect { |c| [ c.name, c.id ] }, class: 'form-control' %>
        </div>
      </div>

      <div class="form-group row">
        <%= label_tag(:date, 'Date', class: 'col-2 col-form-label') %>
        <%= date_field_tag("date[]", nil, class: 'col-2 form-control')%>
        <span class="px-2"> - </span>
        <%= date_field_tag("date[]", nil, class: 'col-2 form-control')%>
      </div>
    </div>
  </div>

  <%= submit_tag('Search', class: 'btn btn-primary') %>
<% end %>

<table>
  <thead>
    <tr>
      <th>Season pass</th>
      <th>Game</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @adverts.each do |advert| %>
      <tr>
        <td><%= advert.seasonpass %></td>
        <td><%= advert.game %></td>
        <td><%= advert.price.round(2) %></td>
        <td><%= link_to 'Show', advert %></td>
        <td><%= link_to 'Destroy', advert, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'Buy', advert, method: :buy %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Advert', new_advert_path %>
